{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="offset-xl-1  col-xl-3 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                {% include ("./accueil/inc/formulaireRecherche.html.twig") %}
            </div>
            <div class="col-xl-7 col-lg-8 col-md-6 col-sm-12 col-xs-12 offset-xl-1">
                {% include ("./accueil/favoris/liste_favoris.html.twig") %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_index') }}
{% endblock %}