{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div class="container my-4">
        <div class="row">
            {% include ("./profile/photo.html.twig") %}
            {% include ("./profile/modifier/modifier_profile.html.twig") %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app_profile') }}
{% endblock %}
